.imgbox{
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.shadow{
    box-shadow: 5px;
}

.background{
    background: beige;
}


#latTemp{
    background: lightskyblue;
}

#latTemp h1{
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
}

#latTemp p{
    font-size: x-large;
}
#latTemp img{
    margin-top: 5px;
    margin-left: 0px;
}